/* Footer */


footer {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 1em;
    margin-left: -0.3vw;
    margin-right: -0.3vw;
    background-color: #FAF3DD;

}

footer .navigation { /* Navigation Bar on the right */
    margin-left: auto;

}

footer .switch { /* Image switch on the left */
    margin-right: auto;

}

/* Footer */


span.btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border-color: black;
    border-style: solid;
}

.btn {
    background: white;
    position: relative;
    height: 56px;
}

.btn input {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    appearance: none;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
}




/* Switch */


.container { 
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    color: white;
}

input[type=checkbox].toggle{ /* Hide Checkbox */
    display: none;
}

input[type=checkbox].toggle + label { /* Toggle Size and Border */
    display: inline-block;
    height: 60px;
    width: 150px;
    position: relative;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 3rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white;

}

input[type=checkbox].toggle + label:before { 
    position: absolute;
    top: 4px;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3 ease;
    z-index: 3;
}


input[type=checkbox].toggle + label:after { /* Cereal (Text) */
    position: absolute;
    top: 25%;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3 ease;
    z-index: 3;

}



input[type=checkbox].toggle:not(:checked) + label:after{ 
    content: attr(data-unchecked);
    right: 2rem;
    left: auto;
    opacity: 1;
    color: black;

}

input[type=checkbox].toggle:not(:checked) + label:before{
    left: 4px;
    background-color: black;
    border-radius: 3rem;
}


input[type=checkbox].toggle:checked + label{ /* Change Color Outline to Yellow */
    text-align: left;
    border-color: black;
    border-radius: 3rem;
}

input[type=checkbox].toggle:checked + label:after{ /* Zodiac Text */
    content: attr(data-checked);
    left: 1rem;
    right: auto;
    color: black;
    
}

input[type=checkbox].toggle:checked + label:before{ /* Toggle Circle Positioned to Right */
    left: 96px;
    background-color: black;
    border-radius: 3rem;
}


/* Navigation Bar */

.navigation img {
    width: 4rem;
    margin: 0.5% 0.25rem;
    position: relative;
    filter: drop-shadow(0px 0px 0px #222);
    transition: 0.3s;
    z-index: 0;
}

.navigation img:hover {
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 1px #222);
    z-index: 2;
}
