

body {
    background-image: url(../images/background.jpg);
    font-family: "Tisa Sans Pro Regular", sans-serif;
    height: 500px;
}

h1 {
    font-family: "Tisa Sans Pro";
    font-style: italic;
    font-size: 3rem;
}

body {
    font-family: "Lato";
}

/* Input Screem */


.input_screen {
    margin: auto;
    width: 50%;
    text-align: center;
}

input#date {
    font-family: Tisa Sans Pro;
    font-weight: italic;
    border-radius: 2rem;
    border: black;
    border-width: thin;
    padding: 1rem;
}


input.submit_button {
    font-family: Tisa Sans Pro;
    font-style: italic;
    font-weight: bold;
    background-color: white;
    border-radius: 2rem;
    border: none;
    color: black;
    padding: 0rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 3rem 2px;
    cursor: pointer;
}

/* Submit Screen */

.submit_button {
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    font-family: "Lato", sans-serif;
}

.splashscreen {
    position: relative;
    display: flex;
}

.navigation img {
    width: 3em;
}

.cereal_view img {
    z-index: -1;
    position: relative;
    bottom: -1rem;
    margin: 0 100px;
    max-height: 750px;

}

.switch img {
    width: 3em;
    position: relative;
    max-height: 750px;
}

footer {
    position: static;
    z-index: -1;
    background-color: #FAF3DD;
    display: flex;
    padding: 1em;
    margin-left: -0.3vw;
    margin-right: -0.3vw;
}

footer .navigation {
    margin-left: auto;

}

footer .switch {
    margin-right: auto;

}

span.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border-color: black;
    border-style: solid;
}

.btn {
    background: white;
    position: relative;
    height: 56px;
}

.btn input {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

