.zodiac_description {
    background-color: white;
    display: none;
    text-align: center;
    border-radius: 16px;
    width: 480px;
    height: 520px;
    padding: 5rem;
    border-style: solid;
    margin: auto;
    z-index: 1;
    animation-name: animation_2;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.zodiac_description h2 {
    font-family: Tisa Sans Pro;
    font-style: italic;
}

.zodiac_description h4 {
    position: relative;
    top: -1rem;
    font-family: Tisa Sans Pro;
    color: gray;
}

.zodiac_description p {
    text-align: left;
    font-size: 1.25rem;   
}



@keyframes animation_2 {
    from {
    
        transform: translate(0%, 100%);
    
    }
    to {
        top: 0;
        transform: translate(0%, 0%);
    }
}


.image_box {
width: 128px;
height: 128px;
background-color: url(../images/symbols/brand/honeynutcheerios.png);
transition: 600ms;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
margin: 0 auto;
background-size: 7rem;

animation: fade 20s infinite;
}

@keyframes fade {

    0%{
        background-image: url(../images/symbols/zodiac/sagittarius.png);
    }

    50%{
        background-image: url(../images/symbols/brand/honeynutcheerios.png);
    }


    100%{
        background-image: url(../images/symbols/zodiac/sagittarius.png);
    }


}

/* Clean up */


button {
    font-family: Tisa Sans Pro;
    font-style: italic;
    font-weight: bold;
    background-color: white;
    border-radius: 2rem;
    border: solid;
    color: black;
    padding: 0rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 3rem 2px;
    cursor: pointer;
}